<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.vanachterberg.tex</string>
	<key>connections</key>
	<dict>
		<key>1B5D7B30-9CA4-436F-A4BF-0A9C9E0EF369</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C224CD3-E157-41A7-8C90-D3F9274C5EB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>227954B4-54DB-477B-A091-F453F2CD21B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>896B3179-A82F-4496-B0AD-A36368D13048</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>896B3179-A82F-4496-B0AD-A36368D13048</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>302E5E52-3B2B-4774-9939-5E845F661ED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Henk van Achterberg</string>
	<key>description</key>
	<string>Retrieve threat intelligence from TEx</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Symantec Threat Explorer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>te</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving intel...</string>
				<key>script</key>
				<string>python3 te.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>for an URL</string>
				<key>title</key>
				<string>Get threat intel</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B5D7B30-9CA4-436F-A4BF-0A9C9E0EF369</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://threatexplorer.symantec.com/v2/tex#/url?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6C224CD3-E157-41A7-8C90-D3F9274C5EB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tesetkey</string>
				<key>subtext</key>
				<string>Enter your API key and hit ENTER</string>
				<key>text</key>
				<string>Set your Threat Explorer API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>227954B4-54DB-477B-A091-F453F2CD21B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 te.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>896B3179-A82F-4496-B0AD-A36368D13048</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Threat Explorer API key has been saved</string>
				<key>title</key>
				<string>Saved API key</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>302E5E52-3B2B-4774-9939-5E845F661ED8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B5D7B30-9CA4-436F-A4BF-0A9C9E0EF369</key>
		<dict>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>227954B4-54DB-477B-A091-F453F2CD21B5</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>302E5E52-3B2B-4774-9939-5E845F661ED8</key>
		<dict>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>6C224CD3-E157-41A7-8C90-D3F9274C5EB8</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>896B3179-A82F-4496-B0AD-A36368D13048</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.5</string>
	<key>webaddress</key>
	<string>https://www.vanachterberg.org/</string>
</dict>
</plist>
